<!-- WHAT
    WHERE
    WHEN
 

-->

<div class="container">
  <app-nav>
  <app-go-back></app-go-back>
</app-nav>

<mat-stepper  [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step >
      <form>
        <ng-template matStepLabel>Quoi ?</ng-template>
          <div>
          </div>
        <div>
          <div>
            @if(book) {
              <img [src]="getBookThumbnail(book)" alt="">

              <h4>{{book.volumeInfo.title}}</h4>
              <h5>
                @for (a of book.volumeInfo.authors; track a) {
                  <span>{{a}}</span>
                }
              </h5>
            } @else {

            }
          </div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Address is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Où ?</ng-template>
        <p>Où allez vous retrouver votre ami ?</p>
        <mat-form-field>
          <mat-label>Lieu</mat-label>
          <input type="text"
                 placeholder="Choisi un lieu"
                 aria-label="lieu"
                 matInput
                 required
                 formControlName="placeCtrl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption (optionSelected)="handleOptionChange($event)" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayPlaceName">
            @for (place of places; track place) {
              <mat-option  [value]="place">{{place.name}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <!--@if(this.firstFormGroup.value.placeCtrl!.name == "Autre") {-->
          <app-map [lng]="lng" [lat]="lat" (change)="handleChange($event)" class="map"></app-map>
        <!--}-->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Time & date is required">
      <form class="form" [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Quand ?</ng-template>
        <p>Quand allez vous retrouver votre ami ?</p>
        <mat-form-field>
          <mat-label>Choisi une date</mat-label>
          <input required matInput formControlName="dateCtrl" [matDatepicker]="datepicker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choisi l'heure</mat-label>
          <ngx-mat-timepicker-toggle matIconSuffix [for]="picker"></ngx-mat-timepicker-toggle>
          <input required matInput formControlName="timeCtrl" [ngxMatTimepicker]="picker">
          <mat-hint>HH:MM AM</mat-hint>
          <ngx-mat-timepicker [format]="12" #picker></ngx-mat-timepicker>  
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Recapitulatif</ng-template>
      @if(book) {
        <p>Vous avez demandez {{book!.volumeInfo.title!}} à John Doe</p>
        <p>Vous devez vous retrouvez : {{firstFormGroup.value.placeCtrl}}</p>
        <p>Le {{secondFormGroup.value.dateCtrl}} à {{secondFormGroup.value.timeCtrl}}</p>
      }
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="handleStepperClose()">Terminer</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
